@import "tailwindcss";

@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
}

html,
body {
  background-color: #f8fafc;
  color: #0f172a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Leaflet map popup overrides for cleaner look */
.leaflet-popup-content-wrapper {
  padding: 0 !important;
  border-radius: 0.75rem !important;
  overflow: hidden;
}
.leaflet-popup-content {
  margin: 1.25rem !important;
}
